.header {
  background: var(--color-elements);
  color: var(--color-text);
  box-shadow: var(--shadow-sm);
  padding: var(--space-700) 0;
  margin-bottom: var(--space-700);
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min(90%, 1200px);
  margin-inline: auto;
  padding-inline: var(--space-200);
}

.header__title {
  font-size: var(--fs-600);
  font-weight: 800;
}

.header__toggle {
  border: none;
  outline: none;
  background: none;
  color: var(--color-text);
  opacity: 1;
  display: flex;
  align-items: center;
  gap: var(--space-200);
  cursor: pointer;
  font-size: var(--fs-400);
  transition: opacity 0.25s ease-in;
}

.header__toggle:hover {
  opacity: 0.8;
}
