@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --color-bg: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 50%);
  --color-skeleton: hsl(0, 0%, 90%);

  --ff-base: "Nunito Sans", system-ui, sans-serif;

  --radius-card: 0.5rem;
  --shadow-card: 0 2px 6px rgba(0, 0, 0, 0.1);

  --space-200: 0.5rem; /* optional */
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.5rem;
  --space-600: 2rem;
  --space-700: 3rem;

  --fs-body: 0.875rem;
  --fs-title: 1.25rem;

  --container-max: 1280px;
  --header-height: 80px;

  --fw-regular: 300;
  --fw-semibold: 600;
  --fw-bold: 800;

  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-full: 9999px;

  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.2);

  --transition-base: all 0.25s ease-in-out;
}

/* Dark Mode */
html.theme-dark {
  --color-bg: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 80%);
  --color-skeleton: hsl(207, 26%, 25%);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--ff-base);
}
