@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  /* Colors */
  --color-bg: hsl(0, 0%, 98%);
  --color-elements: hsl(0, 0%, 100%);
  --color-text: hsl(200, 15%, 8%);
  --color-input: hsl(0, 0%, 52%);
  --color-elements-hover: hsl(0, 0%, 95%);

  /* Typography */
  --ff-base: "Nunito Sans", system-ui, sans-serif;

  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;

  /* Spacing */
  --space-100: 0.25rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
  --space-700: 2rem;
  --space-800: 2.5rem;
  --space-900: 3rem;
  --space-1000: 4rem;

  /* Radius & Shadows */
  --radius-sm: 4px;
  --radius-md: 6px;
  --shadow-sm: 0 0 4px rgba(0, 0, 0, 0.15);
  --shadow-md: 0 0 8px rgba(0, 0, 0, 0.1);

  /* Inputs (SearchBar + RegionFilter) */
  --input-height: 56px;
  --dropdown-gap: 0.4rem;
}

/* Dark Mode */
[data-theme="dark"] {
  --color-bg: hsl(207, 26%, 17%);
  --color-elements: hsl(209, 23%, 22%);
  --color-text: hsl(0, 0%, 100%);
  --color-input: hsl(0, 0%, 100%);
  --color-elements-hover: hsla(0, 0%, 100%, 0.1);

  /* Shadows */
  --shadow-sm: 0 0 3px rgba(0, 0, 0, 0.4);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--ff-base);
  min-height: 100vh;
}
