.header {
  background: var(--color-elements);
  box-shadow: var(--shadow-card);
}

.header__wrapper {
  max-width: 1200px;
  margin-inline: auto;
  padding: var(--space-500) var(--space-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: var(--fs-title);
  font-weight: 800;
}

.header__theme-button {
  background: none;
  border: none;
  color: var(--color-text);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: var(--space-300);
  cursor: pointer;
  transition: opacity 0.2s;
}

.header__theme-button:hover {
  opacity: 0.7;
}

.header__icon {
  font-size: 1rem;
  display: inline-block;
  transform: translateY(1px);
}
