.search {
  background: var(--color-elements);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-card);
  padding-inline: var(--space-400);
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 480px;
}

.search__input {
  border: none;
  outline: none;
  background: transparent;
  color: var(--color-text);
  width: 100%;
  padding: var(--space-400) 0;
}
